<div class="card"> 
    <div class="card-body">
        <form action="/usuario/login" method="post" class="">
   <label for="email">Email:</label>
      <input name="email" id="email" class="form-control" type="email"  required>
          <label for="senha">Senha:</label>
      <input name="senha" id="senha" class="form-control" type="password" value="" required> <br>
      <button class="btn btn-success">Cadastrar</button>
        </form>
     
    </div>

</div>